[Unit]
Description=Slivka REST HTTP server service
After=network.target mongod.service
Requires=mongod.service
Wants=slivka-scheduler.service

[Service]
ExecStart=/usr/bin/env slivka start server -t gunicorn
Restart=always
User=slivka
Group=slivka
Environment=PATH=/home/slivka/miniconda3/envs/slivka/bin:/bin:/usr/bin:/usr/local/bin:/usr/sbin
Environment=SLIVKA_HOME=/home/slivka/data

[Install]
WantedBy=multi-user.target

