<!doctype html>
<html>
<body>
<h1>{{ job_id }}</h1>
<h2>Status: <span id='status'>PENDING</span></h2>
<ul id="files">
</ul>


<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script>
function updateStatus() {
  $.ajax({
    url: "{{ url_for('api.get_job_status', uuid=job_id) }}",
    success: function(result) {
      $('#status').html(result.status);
      if (result.ready) {
        fetchFiles(result.filesURI);
      }
      else {
        setTimeout(updateStatus, 500);
      }
    }
  });
}

function fetchFiles(url) {
  $.ajax({
    url: url,
    success: function(result) {
      for (var element of result.files) {
        $('#files').append(
          "<li>" + element.label + ": <a href=\"" + element.contentURI + "\">" + element.title + "</a> [" + element.mimetype + "]</li>"
        );
      };
    }
  });
}

setTimeout(updateStatus, 100);
</script>
<body>
</html>
